* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    color: rgb(26, 13, 171);
}

/* nav bar */

nav * {
    vertical-align: middle;
}

#logo {
    width: 92px;
    margin: 28px 30px;
}

nav form {
    display: inline;
    border-radius: 30px;
    border: 1px solid rgb(216, 216, 216);
    padding: 12px 18px;
}

nav form input {
    width: 570px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

nav form button {
    border: none;
    background-color: transparent;
}

nav #user-links {
    display: inline-block;
    position: absolute;
    right: 0;
    margin: 30px;
    font-size: 12px;
}

nav #user-links li {
    display: inline-block;
    padding-left: 10px;
}

nav #user-links a {
    text-decoration: none;
    color: black;
}

nav #user-links img {
    border-radius: 100%;
}

nav #search-settings {
    margin-top: 10px;
    padding-left: 170px;
}

nav #search-cats,
nav #search-cats li,
nav #search-settings-2,
nav #search-settings-2 li {
    display: inline-block;
    font-size: 13px;
}

nav #search-cats li a,
nav #search-settings-2 li a {
    text-decoration: none;
    color: rgb(78, 78, 78);
    display: inline-block;
    height: 30px;
}

nav #search-cats li,
nav #search-settings-2 li {
    padding: 0 10px;
}

nav #search-settings-2 {
    margin-left: 132px;
}

nav #search-cats li:first-child {
    border-bottom: 3px solid #1a73e8;
}

nav {
    border-bottom: 1px solid #ebebeb;
}

/* results */

#results {
    margin-left: 175px;
    width: 632px;
}

#results-details {
    font-size: 13px;
    color: rgb(119, 119, 119);
    margin: 15px 0 20px 0;
}

.result a {
    text-decoration: none;
}

.result {
    line-height: 19px;
    margin-bottom: 30px;
}

.result-title {
    font-size: 17px;
    margin-bottom: 3px;
}

.result .result-link {
    font-size: 14px;
    color: rgb(0, 102, 33);
}

.result .result-date-published,
.result .visited {
    color: rgb(119, 119, 119);
}

.result .description,
.result .visited {
    font-size: 13px;
}

.result .description {
    color: rgb(84, 84, 84);
}

#related {
    margin-bottom: 40px;
}

#related p:first-child {
    font-size: 18px;
    margin-bottom: 15px;
}

#related p {
    margin-bottom: 5px;
}

#related p a {
    text-decoration: none;
    font-size: 14px;
}

/* google nav */

#google-nav {
    text-align: center;
    margin-bottom: 50px;
}

#google-nav * {
    vertical-align: top;
}

#google-nav a {
    text-decoration: none;
    font-size: 13px;
    color: rgb(66, 133, 244);
}

#google-nav #g,
#google-nav #o-1,
#google-nav .o-2,
#google-nav #gle {
    background:url(http://www.google.com/images/nav_logo299.png) no-repeat;
    display: inline-block;
    padding-top: 40px;
    margin-right: -5px;
}

#google-nav #gle {
    padding-left: 50px;
}

#google-nav div:nth-child(11) {
    padding-left: 1px;
}

#google-nav #g {
    background-position:-24px 0;
    width: 28px;
    height: 40px; 
}

#google-nav #o-1 {
    background-position:-53px 0;
    width: 20px;
    height: 40px; 
}

#google-nav .o-2 {
    background-position:-74px 0;
    width: 20px;
    height: 40px; 
}

#google-nav #gle {
    background-position:-96px 0;
    width: 71px;
    height: 40px; 
}

/* footer */

footer {
    font-size: 13px;
    padding-left: 175px;
    color: rgb(51, 51, 51);
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    margin-top: 30px;
    padding-bottom: 10px;
}

footer #location {
    font-weight: bold;
}

footer ul {
    margin: 15px 0 0;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;
}

footer ul li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}